<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="cravendunnill_headerusps" frontName="cravendunnill_headerusps">
			<module name="CravenDunnill_HeaderUSPs" />
		</route>
	</router>
</config>